@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

.marquee {
	animation: marquee 25s linear infinite;
}
